@charset "utf-8"
body {
	  margin: 0px;
	  padding: 0px;
	  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	/* Style the header */
	.header {
	    background-color: #66ccff;
	    padding: 5px;
	    text-align: center;
	    color: white;
	    overflow: none
	}
	.header a {
		text-decoration: none;
		color:white;
	}
	.subheader {
		text-align: center;
		border-bottom: 2px solid #abb5ba;
	}
	#body p{
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 10%;
		margin-bottom: 8%;
		text-align: left;
		border: 2px solid grey; 
		padding: 1%;
	}

	ul.nav {
		/* hide bullet points */
		list-style-type: none;
		margin: 0;
		padding:0;
		background-color: #abb5ba;
	}

	li {
		/*float: left;*/
		/*display: inline*/
		display: inline-block;
		margin-left: 15%;
		margin-right: 5%;
	}

	/* only apply this style to anchor tags within a list item*/
	li a {
		/*anchor tags be default display inline, here we will tell them to behave like block level elements*/
		display: block;
		text-align: center;
		width: 100px;
		padding: 10px;
		text-decoration: none;
		color: #333;
	}

	li a:hover {
		background-color: #111;
		color: #FFF;
	}

	li a.active{
		background-color: #888;
	}

	.mainContainer {
		position: relative;
		width: 100%;
		margin-top: 2%; 
		/*height: 50%;*/
	}

	.image {
		display: block;
		width: 50%;
		height:50%;
		margin: auto;
		margin-top: 2%; 
	}
	.overlay {
		margin-left: 25%;
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		background-color: #384044;
		overflow: hidden;
		width: 50%;
		height:0;
		transition: .5s ease;
		opacity: 0.95;
		margin-top: 2%; 
	}
	.mainContainer:hover .overlay {
		bottom: 0;
		height: 100%;
		margin-top: 2%; 
	}
	.text {
/*		white-space: nowrap; 
*/		color: white;
		font-size: 20px;
		position: inline-block;
		overflow: hidden;
		top: 50%;
		left: 50%;
		margin-top: 16%; 
		margin-left: 5%;
		margin-right: 1%;
		/*transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);*/
	}

	/* general Button*/ 
	.button{
		padding: 2% 2%;
		text-align: center;
		display:inline-block;
		align-items: center;
		margin-left: 15%;
		margin-right: 5%;
		background-color: #66ccff;
		border-radius: 2px;
		color: white;
		font-size: 20px;
		position: relative;

	}
	.button_beginner {
		margin-left: 10%;
		margin-right: 10%; 
		float: left;
	}

	.button_intermediate{
		float: left;
	}
	.img {
		padding: 2% 2%;	
	}

	.container {
		width: 900px;
		margin: 0 auto;
	}

	.pic{
		position: relative;
		width: 240px;
		display: inline-block;
		margin: 20px;
	}

	.pic img{
		width: 100%;
		height: auto;
		border: 10px solid #EEE;
		border-bottom: 45px solid #EEE;
	}

	.pic p{
		position: absolute;
		text-align:center;
		width: 100%;
		color: #888;
		bottom: 0px;
	}
